.row
  .col-sm-12
    %h1 New Thing
  = model.class
  .col-sm-12
    = simple_form_for model do |f|
      .form-group
        = f.input :name, placeholder: 'Name'
      .form-group
        = f.input :description, placeholder: 'Describe this thing!'
      .row
        .col-sm-12
          = f.submit 'Create Thing', class: 'btn btn-primary'
